* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family: 'Poppins'; /* Ensure 'Poppins' is properly declared */
}
body {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    /* font-family: poppins; */
    overflow-x: hidden;
}

.nav {
    width: 100%;
    height: 9vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo img {
    height: 30px;
    margin-left: 35%;
}
.search-bar input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.629);
    text-transform: capitalize;
    font-family: poppins;
    color: #A0AEC0;
    padding: 8px 30px;
    margin-left: 150%;
}
.nav .nav-icons{
    display: flex;
    gap: 20px;
    margin-left: 50%;
}
.nav #user{
    width: 100px;
    height: 30px;
    background-color: rgba(41, 40, 40, 0.385);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav #notification{
    margin-top: 3%;
    font-size: 20px;
    margin-left: 50%;
}

/* sidebar menu */
.sidebar {
    width: 250px;
    background-color: #0039d7;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease-in-out;
    top: 9vh;
    overflow: auto;
}
.sidebar.open {
    left: 0;
}
.menu-logo{
    position: relative;
    top: 5%;
}
  .xyz{
    height: 100%;
    background-color: #003dd1;
    position: fixed;
    width: 45px;
    top: 10%;
  }

.menu-logo img{
  height: 20px;
  margin-top: 45%;
  margin-left: 10px;
  cursor: pointer;
}
.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    /* background-color: green; */
    color: white;
    border: none;
    z-index: 1000;
    margin-top: 5%;
    margin-left: 10px;
    position: fixed;
}
.menu-item {
    padding: 4px ;
    background: white;
    color: #0039d7;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13.5px;
    margin-top: 3%;
    margin-top: 20px;
}
.menu-list li {
    list-style: none;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12.5px;
    margin-top: -1px;
}
.menu-list li i {
    margin-right: 10px;
}
.content.shift {
    margin-left: 250px;
}
.submenu {
    display: none;
    padding-left: 20px;
}
.user-status:hover .submenu {
    display: block;
}
.content {
    flex-grow: 1;
    padding: 50px 5px;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
    margin-top: 9vh;
    /* background-color: red; */
}
/* main-container */
.main-container{
    height: 110vh;
    width: 100%;
    background-color: #f3f1f1;
    margin-top: -3%;
    margin-left: 2.5%;
    display: flex;
    gap: 10px;
}
.left{
    width: 78%;
    height: 110vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin-top: 0.5%;
}
.left .left-top{
    width: 100%;
    height: 27vh;
    border-radius: 10px;
    background-color: #fff;
}
.left .left-top p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4px 10px;
}
.left .left-top .card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 3%;
}
.left .left-top .card .cards1{
    width: 18%;
    height: 170px;
}
.card a{
    text-decoration: none;
    color: black;
}
.left-top img{
    height: 45px;
    margin: 15px 10px;
}
.left-top .card p{
    font-size: 13px;
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
    color: rgba(0, 0, 0, 0.621);
}
.left-top .card h1{
    font-size: 25px;
    margin-left: 10%;
    margin-top: 12%;
}

.cards4 .image{
    margin-left: -50%;
}
.left-top .card #horizontal-line{
    width: 69%;
    height: 1px;
    rotate: 90deg;
    margin-left: 45%;
    margin-top: -32%;
    border: none;
    background-color: rgba(0, 0, 0, 0.621);
}
.left-top .card #horizontall-line{
    width: 700%;
    height: 1px;
    rotate: 90deg;
    margin-left: 190%;
    margin-top: -310%;
    border: none;
    background-color: rgba(0, 0, 0, 0.621);
}
.left-top .card #horizontalll-line{
    width: 490%;
    height: 1px;
    rotate: 90deg;
    margin-left: 280%;
    margin-top: -240%;
    border: none;
    background-color: rgba(0, 0, 0, 0.621);
}

.left-top .card #horizontallll-line{
    width: 490%;
    height: 1px;
    rotate: 90deg;
    margin-left: 320%;
    margin-top: -230%;
    border: none;
    background-color: rgba(0, 0, 0, 0.621);
}
.left .left-top .card .cards2{
    width: 18%;
    height: 170px;
}
.left .left-top .card .cards3{
    width: 20%;
    height: 170px;
}
.left .left-top .card .cards4{
    width: 20%;
    height: 170px;
}
.left .left-top .card .cards5{
    width: 18%;
    height: 170px;
}
.left .left-center{
    width: 100%;
    height: 27vh;
    border-radius: 10px;
    background-color: #fff;
}
.left-center p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4px 10px;
}
.left .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 0.2%;
    position: relative;
    left: 5%;
}
.left .card-1{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: #f3f1f1;
}
.card-1 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.card-1 h6{
    margin-left: 70px;
    font-size: 13px;
    color: #000000ad;
}
.left .card-2{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: #f3f1f1;
}
.card-2 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.card-2 h6{
    margin-left: 70px;
    font-size: 13px;
    color: #000000ad;
}
.left .card-3{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: #f3f1f1;
}
.card-3 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.left-center .card-1:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.left-center .card-2:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.left-center .card-3:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.left-center .card-4:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.left-center .card-5:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.left-center .card-6:hover{
    background-color: rgba(106, 106, 228, 0.789);
    color: white;
}
.card-3 h6{
    color: #000000ad;
    font-size: 13px;
    margin-left: 70px;
}
.left .card-4{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: #f3f1f1;
}
.card-4 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.card-4 h6{
    color: #000000ad;
    font-size: 13px;
    margin-left: 70px;
}
.left .card-5{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    background-color: #f3f1f1;
}
.card-5 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.card-5 h6{
    color: #000000ad;
    font-size: 13px;
    margin-left: 70px;
}
.left .card-6{
    width: 75%;
    height: 80px;
    border-radius: 10px;
    font-size: 13px;
    background-color: #f3f1f1;
}
.card-6 h1{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 70px;
}
.card-6 h6{
    color: #000000ad;
    margin-left: 70px;
    font-size: 13px;
}
.cards img{
    height: 32px;
    margin: 7px 15px;
}
.left .left-down{
    width: 100%;
    height: 27vh;
    border-radius: 10px;
    background-color: #fff;
}
.left-down p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4px 10px;
}
.left-down h6{
    margin: 10px 18px;
    font-size: 13px;
}
.left-down #Total{
    font-size: 12px;
    margin-top: 10%;
    color: #515151ad;
}
.left-down h1{
    margin-left: 78%;
    letter-spacing: 0.5px;
}
.left-down i{
    margin-left: 92%;
    position: relative;
    top: -88%;
    color: #282828e9;
}
.left-down .card-1:hover{
    background-color: rgb(160, 209, 87);
    color: white;
}
.left-down .card-2:hover{
    background-color: red;
    color: white;
}
.left-down .card-3:hover{
    background-color: #231eb0ab;
    color: white;
}
.left-down .card-4:hover{
    background-color: #231eb0a8;
    color: white;
}
.left-down .card-5:hover{
    background-color: red;
    color: white;
}
.left-down .card-6:hover{
    background-color: rgb(160, 209, 87);
    color: white;
}
.left-bottom{
    height: 22%;
    width: 129.5%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    gap: 8px;
}
.left-bottom p{
    width: 20%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4px 10px;
}
.left-bottom .left{
    margin-left: -18.2%;
    margin-top: 1.5%;
    width: 60%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.left-bottom .left .l-female-users{
    width: 38%;
    height: 65%;
    background-color: #f3f1f1;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 2.2%;
}
.left-bottom .left .r-male-users{
    width: 38%;
    height: 65%;
    background-color: #f3f1f1;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 2.2%;
}
.left #bottom-cards-no{
    margin: 15px 15px;
    font-size: 25px;
}
.left #bottom-genders{
    width: 50%;
    margin: 10px 15px;
    font-size: 15px;
    margin-top: -5%;
}
.left .l-female-users .top{
    width: 38%;
    height: 40%;
    background-color: #dbebe7;
    border:  2px solid #79b4a5;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: -29%;
    border-radius: 5px;
}
.left .l-female-users .down{
    width: 38%;
    height: 40%;
    background-color: #f0dbe0;
    border: 2px solid #c36f83;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: 1.8%;
    border-radius: 5px;
}
.left .r-male-users .top{
    width: 38%;
    height: 40%;
    background-color: #dbebe7;
    border:  2px solid #79b4a5;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: -29%;
    border-radius: 5px;
}
.left .r-male-users .down{
    width: 38%;
    height: 40%;
    background-color: #f0dbe0;
    border: 2px solid #c36f83;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: 1.8%;
    border-radius: 5px;
}
.top .verified p{
    font-size: 10px;
    color: #79b4a5;
    margin-left: 1px;
    width: 70px;
}
.down .verified p{
    font-size: 10px;
    margin-left: 1px;
    color: #c36f83;
    width: 85px;
}
.left-bottom .right{
    margin-top: 1.5%;
    width: 60%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}
.right-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.bottom-card {
    /* background: white; */
    padding: 12px 15px;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #f3f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* both top and center code in one cards ⬇️*/
.right{
    width: 22%;
    height: 110vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
}
.right .right-top{
    height: 29.3%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: black;
}
  #Current-Opportunities{
    font-size: 15px;
    color: #000;
    font-weight: 600;
    left: 5%;
    top: 1.5%;
    position: relative;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}
.cards .top-cards{
    width: 80%;
    height: 70px;
    background-color: #d2d0ff;
    border-radius: 10px;
}
.top-cards:hover{
    background-color: #9690ff;
    color: rgba(255, 255, 255, 0.719);
}
/* right top & center cards start here */
.top-cards #numbers{
    margin-left: 75%;
    font-size: 20px;
}
.top-cards #internships{
    margin-left: 20%;
    margin-top: -15%;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top-cards img {
    height: 30px;
    margin: 5px;
}
.cards .center-cards{
    width: 80%;
    height: 70px;
    background-color: #d9ffda;
    border-radius: 10px;
}
.center-cards:hover{
    background-color: #88ff8c;
    color: rgba(255, 255, 255, 0.719);
}
.center-cards #numbers{
    margin-left: 75%;
    font-size: 20px;
}
.center-cards #Freshers{
    margin-left: 20%;
    margin-top: -15%;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.center-cards img {
    height: 30px;
    margin: 5px;
}

/* right top & center cards end here ⬆️*/

.cards .down-cards{
    width: 80%;
    height: 70px;
    background-color: #ffd5d4;
    border-radius: 10px;
}
.down-cards:hover{
    background-color: #ff8987;
    color: rgba(255, 255, 255, 0.719);
}
.down-cards #numbers{
    margin-left: 75%;
    font-size: 20px;
}
.down-cards #Experienced{
    margin-left: 20%;
    margin-top: -15%;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.down-cards img {
    height: 30px;
    margin: 5px;
}
.right .right-center{
    height: 29.3%;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}
/* right center cerds */

.right .right-down{
    height: 15%;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-down #resolved{
    font-size: 15px;
    color: #221eb0;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 600;
    left: -25%;
    top: -18%;
    position: relative;
}
.right-down h1{
    font-size: 25px;
}